/*! Variaveis css (propriedades personalizaveis) */
/*! Configurações gerais */

body {
  box-sizing: border-box;
  background-color: #ededed;
  color: #464646;

  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: auto;
}

/*! header */
.cabecalho__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;

  padding: 32.5px 152px;
  white-space: nowrap;
}

.cabecalho__usuario {
  font-weight: 700;
}

.cabecalho__usuario-nome {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cabecalho__menu-lista {
  display: flex;
  align-items: center;
  gap: 32px;
}

.cabecalho__menu,
.cabecalho__usuario-nome {
  margin-left: auto;
}
/*! main */

/* Apresentacao */
.apresentacao__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  padding: 32px 152px;
}

.apresentacao__container-texto {
  display: flex;
  flex-direction: column;
  gap: 24px;

  padding: 60px 0px;
}

.apresentacao__titulo {
  font-size: 52px;
  font-weight: 700;
}

.apresentacao__paragrafo {
  font-size: 22px;
  font-weight: 400;
}
.apresentacao__redes {
  display: flex;
  gap: 32px;
}

.apresentacao__link a {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 4px;
}

.apresentacao__container-imagem {
  display: flex;
  justify-content: flex-end;
  width: 55%;
}

.apresentacao__imagem {
  width: 100%;
  border-radius: 50%;
}

/* Sobre mim */
.sobre__container {
  background-color: #eaf2fd;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  padding: 64px 152px;
}

.sobre__titulo {
  font-weight: 700;
  font-size: 32px;
}

.sobre__paragrafo {
  font-weight: 400;
  font-size: 16px;
}

/* Skills */
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  padding: 32px 152px 56px;
}

.skills__titulo {
  font-weight: 700;
  font-size: 32px;
}

.skills__cards {
  width: 100%;
}

.skills__cards--lista {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.skills__cards--item {
  flex-grow: 1;
}

.skills__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #ffffff;

  min-width: 176px;
  min-height: 174px;
}

.skills__card--imagem-container {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 0 0 16px 16px;
}

.skills__card--imagem-html {
  width: 24px;
  height: 37px;
}

.skills__card--imagem-css {
  width: 22px;
  height: 36px;
}

.skills__card--imagem-javascript {
  width: 28px;
  height: 37px;
}

.skills__card--imagem-descricao {
  font-weight: 700;
  font-size: 16px;
}

/* Hobbies */
.hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  padding: 32px 152px 88px;
}

.hobbies__titulo {
  font-weight: 700;
  font-size: 32px;
}

.hobbies__cards {
  width: 100%;
}

.hobbies__cards--lista {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.hobbies__cards--item {
  flex-grow: 1;
}

.hobbies__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #ffffff;

  min-width: 176px;
  min-height: 174px;
}

.hobbies__card--imagem-container {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 0 0 16px 16px;
}

.hobbies__card--imagem-logo {
  width: 32px;
  height: 32px;
}

.hobbies__card--imagem-descricao {
  font-weight: 700;
  font-size: 16px;
}

/* Formacao */
.formacao {
  background-color: #eaf2fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  padding: 82px 152px;
}

.formacao__titulo {
  font-weight: 700;
  font-size: 32px;
}

.formacao__cards {
  width: 100%;
}

.formacao__cards--lista {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.formacao__cards--item {
  flex-grow: 1;
}

.formacao__card {
  background-color: #ffffff;
}

.formacao__card--imagem-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.formacao__card--imagem-logo {
  align-self: center;

  width: 192px;
  height: 130px;

  padding: 78px 88px;
}

.formacao__card--imagem-descricao {
  background-color: #eaf2fd;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  padding: 8px 0 0;
}

.formacao__card--titulo {
  font-weight: 700;
  font-size: 22px;
}

.formacao__card--paragrafo {
  font-weight: 500;
  font-size: 16px;
}

/* Experiencia */
.experiencia {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  padding: 32px 152px;
}

.experiencia__titulo {
  font-weight: 700;
  font-size: 32px;
}

.experiencia__cards {
  width: 100%;
}

.experiencia__cards--lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.experiencia__cards--item {
  width: 100%;
}

.experiencia__cards--item:nth-of-type(2n + 1)
  .experiencia__card--imagem-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.experiencia__cards--item:nth-of-type(2n) .experiencia__card--imagem-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  gap: 16px;
}

.experiencia__card--imagem {
  width: 752px;
  height: 406px;
}

.experiencia__card--imagem-descricao {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.experiencia__card--titulo {
  font-weight: 700;
  font-size: 22px;
}

.experiencia__card--descricao {
  font-weight: 500;
  font-size: 16px;
}

.experiencia__card--links-lista {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}

.experiencia__card--links-item {
  font-weight: 400;
  font-size: 16px;

  border: 1px solid #2a7ae4;
}

.experiencia__card--link-repositorio {
  background-color: #ededed;
  color: #2a7ae4;

  display: inline-block;
  padding: 16px;
}

.experiencia__card--link-demo {
  background-color: #2a7ae4;
  color: #ffffff;

  display: inline-block;
  padding: 16px;
}

/* Contato */
.contato {
  background-color: #eaf2fd;
  display: flex;
  gap: 16px;

  align-items: center;
  justify-content: space-between;
  padding: 128px 152px 64px;
}

.contato__imagem {
  width: 464px;
  height: 593px;
}

.contato__texto--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.contato__titulo--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 8px;
}

.contato__titulo {
  font-weight: 700;
  font-size: 32px;
}

.contato__subtitulo--container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  gap: 1px;
}

.contato__subtitulo {
  font-weight: 500;
  font-size: 16px;
}

.contato__formulario {
  display: flex;
  flex-direction: column;
  gap: 32px;

  width: 100%;
}

.contato__formulario--entrada-container {
  box-sizing: border-box;

  background-color: #ffffff;
  padding: 8px 12px;

  min-height: 56px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contato__formulario > :nth-child(4) {
  padding: 16px 12px 8px;
  min-height: 133px;
}

.contato__formulario--label-nome,
.contato__formulario--label-email,
.contato__formulario--label-assunto,
.contato__formulario--label-mensagem {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #a2a2a2;
}

.contato__formulario--label-assunto span,
.contato__formulario--label-mensagem span {
  display: none;
}

.contato__formulario--label-nome input,
.contato__formulario--label-email input,
.contato__formulario--label-assunto input,
.contato__formulario--label-mensagem textarea {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #464646;

  padding: 1px 0px;
  outline: none;
}

.contato__formulario--label-mensagem textarea {
  height: 107px;
  resize: none;
}

.contato__formulario--label-nome input::placeholder,
.contato__formulario--label-email input::placeholder,
.contato__formulario--label-assunto input::placeholder,
.contato__formulario--label-mensagem textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #a2a2a2;
}

.contato__formulario--label-nome input:focus::placeholder,
.contato__formulario--label-email input:focus::placeholder,
.contato__formulario--label-assunto input:focus::placeholder,
.contato__formulario--label-mensagem textarea:focus::placeholder {
  color: transparent;
}

.contato__formulario--label-nome:focus-within,
.contato__formulario--label-email:focus-within,
.contato__formulario--label-assunto:focus-within,
.contato__formulario--label-mensagem:focus-within {
  color: #2a7ae4;

  border-bottom: 2px;
  border-color: #2a7ae4;
  border-style: solid;
}

.contato__formulario--button {
  background-color: #2a7ae4;
  padding: 16px;
  color: #ffffff;

  font-weight: 400;
  font-size: 16px;

  cursor: pointer;
}

/*! footer */

/*! media queries */
